body, html, #app, #messages {
    margin: 0;
    padding: 0;
}

.message {
    font-family: boxed, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    line-height: 35.2px;
    background: #CCC
}

.message.own { background: #FFF; text-align: right; }
.message.own:after { content: ' ⬅ '; margin: 0 15px; }
.message .user { font-weight: bold }

#messages {
    height: 95%;
    overflow-y: scroll;
}

#messageForm {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background: white;
}

#messageForm input, #messageForm button {
    font-family: boxed, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    line-height: 35.2px;
}
